body{
    box-sizing: border-box;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header{
    background-color: #808080;
    width: auto;
    height: 25%;
}

.main-header .nav-link{
    margin: 0px;
    padding: 5px 0px 5px 5px;
    display: inline;
}

.main-header a{
    color: #fff;
    text-align: right;
    font: 25px bold;
    text-decoration: none;
}

footer{
    background-color: #808080;
    width: 100%;
    height: 100%;
}


footer  form{
    text-align: center;
    display: block;
}

footer form input{
    margin-bottom: 10px;
    width: 35%;
    height: 250%;
    border-radius: 5px;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    writing-mode: horizontal-tb !important;
}

footer form textarea{
    margin-bottom: 10px;
    width: 35%;
    height: 250%;
    border-radius: 5px;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    writing-mode: horizontal-tb !important;
}

footer form button{
    width: 25%;
    height: 75%;
    background-color: #0000ff;
    color: #fff;
    font: 25px bold;
    border-radius: 2.5px;
    position: inherit;
    border: none;
}

footer .contact p{
   text-align: center;
   color: #fff;
   font: 15px;
}