*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: none;
}

body{
    font-weight: 400;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 22px;
}

.main-header{
    overflow: hidden;
    background-color: #fff;
    width: auto;
    height: 25%;
    padding: 2px 2px;
    padding-top: 0px;
    font-size: 15px small;
}

.main-header .nav-link{
    margin: 0px;
    display: inline;
    padding: 12px;
    text-align: right; 
    float: right;
    padding-top: 0px;
}

.main-header a{
    color: #1e90ff;
    font: 20px bold;
    text-decoration: none;
    text-align: right; 
    float: right;
    padding-top: 0px;
}

.main-header a:hover, .main-header .nav-link:hover{
    background-color: #000;
    color: #fff;
    opacity: 0.9;
}

@media screen and (max-width: 749px) {
    .main-header a {
      float: right;
      display: flex;
      text-align: right;
    }
  }

.small-presentation{
    width: 75%;
    height: 450px;
    flex-direction: row;
}

.small-presentation .objectives{
    width: 60%;
    height: 467px;
    padding-block: 10px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-top: 0;
    font: 20px bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.presentation .organized-section{
    position: relative;
    overflow: hidden;

}

.organized-section .slideclasse{
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 300%;
  animation: alternate;
  transition: all 0.4s;
}

@keyframes organized-section{
    0%{left: 0%;}
    100%{left: -200%;}
}

.row{
    width: 50%;
    height: 125px;
}

.main-footer{
    overflow: hidden;
    background-color: #000;
    width: 100%;
    height: 10%;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

footer  form{
    text-align: center;
    display: block;
}

footer form input{
    margin-bottom: 10px;
    width: 35%;
    height: 250%;
    border-radius: 5px;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    writing-mode: horizontal-tb !important;
}

footer form textarea{
    margin-bottom: 10px;
    width: 35%;
    height: 250%;
    border-radius: 5px;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    writing-mode: horizontal-tb !important;
}

footer form .btn{
    width: 25%;
    height: 75%;
    color: #fff;
    font: 25px bold;
    border-radius: 2.5px;
    position: inherit;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer img{
    border-radius: 20px;
    box-shadow: inset;
    height: 0.7cm;
    width: 0.7cm;
    text-align: right;
}

footer .socials a{
    text-align: end;
    margin-top: 5px;
}

footer .contact p{
   text-align: center;
   color: #fff;
   font: 15px;
}

.othernews span a{
    text-decoration: none;
    color: #fff;
    font: bold;
    margin-left: 25px;
}

 @media screen and (max-width:749px){
    footer{
        float: right;
        display: flex;
        text-align: right;
    }
 }